<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvmama.tnt.order.mysql.mapper.TntRefundBalanceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.lvmama.tnt.order.po.TntRefundBalance" >
    
  </resultMap>
  
  <select id="findRefundBalanceRecordByOrderId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM TNT_REFUND_BALANCE_RECORD where ORDER_ID = #{orderId,jdbcType=BIGINT}
  </select>
  
  <insert id="insertRefundBalance" parameterType="com.lvmama.tnt.order.po.TntRefundBalance">
      INSERT INTO TNT_REFUND_BALANCE_RECORD(
      ORDER_ID,
      DISTRIBUTOR_CODE,
      DISTRIBUTOR_REFUND_PRICE,
      DISTRIBUTOR_REFUND_FEE,
      LVMAMA_REFUND_PRICE,
      LVMAMA_REFUND_FEE,
      REFUND_PRICE_BALANCE,
      REFUND_PRICE_FEE,
      CREATE_TIME) 
      VALUES (
      #{orderId},
      #{distributorCode},
      #{distributorRefundPrice},
      #{distributorRefundFee},
      #{lvmamaRefundPrice},
      #{lvmamaRefundFee},
      #{refundPriceBalance},
      #{refundFeeBalance},
      now())
  </insert>
</mapper>