<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.lvmama.tnt.prod.mapper.RoutePackageHotelMapper">

	<resultMap id="baseResultMap" type="com.lvmama.tnt.prod.po.RoutePackageHotel">
			<result property="productId" column="PRODUCT_ID"/>
            <result property="productValid" column="PRODUCT_VALID"/>
            <result property="tntSellPackageId" column="TNT_SELL_PACKAGE_ID"/>
             <result property="routePackageHotelId" column="ROUTE_PACKAGE_HOTEL_ID"/>
	         <result property="subProductId" column="SUB_PRODUCT_ID"/>
	         <result property="subProductValid" column="SUB_PRODUCT_VALID"/>
	         <result property="subBranchId" column="SUB_BRANCH_ID"/>
	         <result property="subBranchValid" column="SUB_BRANCH_VALID"/>
	         <result property="startDays" column="START_DAYS"/>
	         <result property="groupId" column="GROUP_ID"/>
	         <result property="cancelFlag" column="CANCEL_FLAG"/>
	         <result property="saleType" column="SALE_TYPE"/>
	         <result property="price" column="PRICE"/>
	         <result property="priceType" column="PRICE_TYPE"/>
	         <result property="groupNum" column="GROUP_NUM"/>
	         <result property="productId" column="PRODUCT_ID"/>
	         <result property="maxVisitor" column="MAXVISITOR"/>
	         <result property="adult" column="ADULT"/>
	         <result property="child" column="CHILD"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		ROUTE_PACKAGE_HOTEL_ID,PRODUCT_ID,SUB_PRODUCT_ID,SUB_PRODUCT_VALID,SUB_BRANCH_ID,SUB_BRANCH_VALID,START_DAYS,GROUP_ID,CANCEL_FLAG,SALE_TYPE,TNT_SELL_PACKAGE_ID,PRICE,PRICE_TYPE,GROUP_NUM,PRODUCT_VALID,MAXVISITOR,ADULT,CHILD
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="com.lvmama.tnt.prod.po.RoutePackageHotel">
		<selectKey resultType="java.lang.Long" keyProperty="routePackageHotelId"
			order="BEFORE">
			select  ROUTE_PACKAGE_HOTEL_ID_SEQ.nextval from dual
		</selectKey>
        INSERT INTO ROUTE_PACKAGE_HOTEL (
        	ROUTE_PACKAGE_HOTEL_ID ,
        	PRODUCT_ID ,
        	SUB_PRODUCT_ID ,
        	SUB_PRODUCT_VALID ,
        	SUB_BRANCH_ID ,
        	SUB_BRANCH_VALID ,
        	START_DAYS ,
        	GROUP_ID ,
        	CANCEL_FLAG ,
        	SALE_TYPE ,
        	TNT_SELL_PACKAGE_ID ,
        	MAXVISITOR ,
        	ADULT ,
        	CHILD 
        ) VALUES (
        	#{routePackageHotelId,jdbcType=NUMERIC} ,
        	#{productId,jdbcType=NUMERIC} ,
        	#{subProductId,jdbcType=NUMERIC} ,
        	#{subProductValid,jdbcType=VARCHAR} ,
        	#{subBranchId,jdbcType=NUMERIC} ,
        	#{subBranchValid,jdbcType=VARCHAR} ,
        	#{startDays,jdbcType=VARCHAR} ,
        	#{groupId,jdbcType=NUMERIC} ,
        	#{cancelFlag,jdbcType=NUMERIC} ,
        	#{saleType,jdbcType=VARCHAR} ,
        	#{tntSellPackageId,jdbcType=NUMERIC} ,
        	#{maxVisitor,jdbcType=NUMERIC} ,
        	#{adult,jdbcType=NUMERIC} ,
        	#{child,jdbcType=NUMERIC} 
        )
	</insert>
    
	<update id="update" parameterType="com.lvmama.tnt.prod.po.RoutePackageHotel">
        UPDATE ROUTE_PACKAGE_HOTEL SET
            UPDATE_TIME = sysdate,
	        SUB_PRODUCT_VALID = #{subProductValid,jdbcType=VARCHAR} ,
	        SUB_BRANCH_VALID = #{subBranchValid,jdbcType=VARCHAR} ,
	        START_DAYS = #{startDays,jdbcType=VARCHAR} ,
	        GROUP_ID = #{groupId,jdbcType=NUMERIC} ,
	        CANCEL_FLAG = #{cancelFlag,jdbcType=NUMERIC} ,
	        SALE_TYPE = #{saleType,jdbcType=VARCHAR} ,
	        TNT_SELL_PACKAGE_ID = #{tntSellPackageId,jdbcType=NUMERIC} ,
	        MAXVISITOR = #{maxVisitor,jdbcType=NUMERIC} ,
        	ADULT = #{adult,jdbcType=NUMERIC} ,
        	CHILD = #{child,jdbcType=NUMERIC} 
	        PRODUCT_VALID = #{productValid,jdbcType=VARCHAR} ,
	        CANCEL_FLAG = #{cancelFlag,jdbcType=NUMERIC} 
        WHERE 
        	<if test="routePackageHotelId !=null">
	        	ROUTE_PACKAGE_HOTEL_ID = #{routePackageHotelId,jdbcType=NUMERIC} 
	        </if>
	</update>
	
	
	<update id="updateByPackageList" parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
	     	<if test="item.routePackageHotelId !=null and item.routePackageHotelId !=''">
	                 UPDATE ROUTE_PACKAGE_HOTEL SET
			            UPDATE_TIME = sysdate,
				        SUB_PRODUCT_VALID = #{item.subProductValid,jdbcType=VARCHAR} ,
				        SUB_BRANCH_VALID = #{item.subBranchValid,jdbcType=VARCHAR} ,
				        PRODUCT_VALID = #{item.productValid,jdbcType=VARCHAR} ,
				        CANCEL_FLAG = #{item.cancelFlag,jdbcType=NUMERIC} 
			        WHERE 
				        	ROUTE_PACKAGE_HOTEL_ID = #{item.routePackageHotelId,jdbcType=NUMERIC} 
	        </if>
         </foreach>
	</update>

    <delete id="delete" parameterType="Long">
        DELETE FROM ROUTE_PACKAGE_HOTEL WHERE
        ROUTE_PACKAGE_HOTEL_ID = #{id} 
    </delete>
    
    <delete id="updateByParam"  parameterType="java.util.Map">
        update ROUTE_PACKAGE_HOTEL 
		set UPDATE_TIME = sysdate,
		    DELETE_FLAG = 1
         WHERE DELETE_FLAG = 0
            and PRODUCT_ID= #{productId}
		    and TNT_SELL_PACKAGE_ID IN
        	<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
           			 #{item.tntSellPackageId}
            </foreach>
    </delete>
    
    
    
    <select id="getById" resultMap="baseResultMap" parameterType="Long">
		SELECT <include refid="columns" />
		    FROM ROUTE_PACKAGE_HOTEL 
	        WHERE 
		        ROUTE_PACKAGE_HOTEL_ID = #{id} 
	</select>
	
	<select id="findListBytntSellPackageId" parameterType="java.lang.Long" resultMap="baseResultMap">
		SELECT <include refid="columns" />
		    FROM ROUTE_PACKAGE_HOTEL 
	        WHERE 
		        TNT_SELL_PACKAGE_ID = #{tntSellPackageId} 
		    AND DELETE_FLAG = 0
	</select>
	
	<sql id="where">
		<where>	      		
			<if test="routePackageHotelId != null and routePackageHotelId !=''">
				AND ROUTE_PACKAGE_HOTEL_ID = #{routePackageHotelId}
	       	</if> 
			<if test="productId != null and productId !=''">
				AND PRODUCT_ID = #{productId}
	       	</if> 
	       	<if test="deleteFlag != null and deleteFlag !=''">
				AND DELETE_FLAG = #{deleteFlag}
	       	</if>
	       	
	       	<if test="noProductValid != null and noProductValid !=''">
				AND PRODUCT_VALID  <![CDATA[ <> ]]> #{noProductValid}
	       	</if>
	       	<if test="productValid != null and productValid !=''">
				AND PRODUCT_VALID  = #{productValid}
	       	</if>
	       	
			<if test="subProductId != null and subProductId !=''">
				AND SUB_PRODUCT_ID = #{subProductId}
	       	</if> 
	       	<if test="noSubProductValid != null and noSubProductValid !=''">
				AND SUB_PRODUCT_VALID  <![CDATA[ <> ]]> #{noSubProductValid}
	       	</if>
			<if test="subProductValid != null and subProductValid !=''">
				AND SUB_PRODUCT_VALID = #{subProductValid}
	       	</if> 
	       	
			<if test="subBranchId != null and subBranchId !=''">
				AND SUB_BRANCH_ID = #{subBranchId}
	       	</if> 
			<if test="subBranchValid != null and subBranchValid !=''">
				AND SUB_BRANCH_VALID = #{subBranchValid}
	       	</if> 
	       	<if test="noSubBranchValid != null and noSubBranchValid !=''">
				AND SUB_BRANCH_VALID  <![CDATA[ <> ]]> #{noSubBranchValid}
	       	</if>
	       	
			<if test="startDays != null and startDays !=''">
				AND START_DAYS = #{startDays}
	       	</if> 
			<if test="groupId != null and groupId !=''">
				AND GROUP_ID = #{groupId}
	       	</if> 
			<if test="cancelFlag != null and cancelFlag !=''">
				AND CANCEL_FLAG = #{cancelFlag}
	       	</if> 
			<if test="saleType != null and saleType !=''">
				AND SALE_TYPE = #{saleType}
	       	</if> 
			<if test="tntSellPackageId != null and tntSellPackageId !=''">
				AND TNT_SELL_PACKAGE_ID = #{tntSellPackageId}
	       	</if> 
	       	
       	  	<if test="maxVisitor != null and maxVisitor !=''">
				AND MAXVISITOR  = #{maxVisitor}
	       	</if>
	       	
       		<if test="noMaxvisitor != null and noMaxvisitor !=''">
				AND MAXVISITOR  <![CDATA[ <> ]]>  #{noMaxvisitor}
	       	</if>
		</where>
	</sql>
		
	<sql id="pageWhere">
		<where>	      				
			<if test="param.routePackageHotelId != null and param.routePackageHotelId !=''">
				AND ROUTE_PACKAGE_HOTEL_ID = param.routePackageHotelId
	       	</if>
			<if test="param.productId != null and param.productId !=''">
				AND PRODUCT_ID = param.productId
	       	</if>
			<if test="param.subProductId != null and param.subProductId !=''">
				AND SUB_PRODUCT_ID = param.subProductId
	       	</if>
			<if test="param.subProductValid != null and param.subProductValid !=''">
				AND SUB_PRODUCT_VALID = param.subProductValid
	       	</if>
			<if test="param.subBranchId != null and param.subBranchId !=''">
				AND SUB_BRANCH_ID = param.subBranchId
	       	</if>
			<if test="param.subBranchValid != null and param.subBranchValid !=''">
				AND SUB_BRANCH_VALID = param.subBranchValid
	       	</if>
			<if test="param.startDays != null and param.startDays !=''">
				AND START_DAYS = param.startDays
	       	</if>
			<if test="param.groupId != null and param.groupId !=''">
				AND GROUP_ID = param.groupId
	       	</if>
			<if test="param.cancelFlag != null and param.cancelFlag !=''">
				AND CANCEL_FLAG = param.cancelFlag
	       	</if>
			<if test="param.saleType != null and param.saleType !=''">
				AND SALE_TYPE = param.saleType
	       	</if>
			<if test="param.tntSellPackageId != null and param.tntSellPackageId !=''">
				AND TNT_SELL_PACKAGE_ID = param.tntSellPackageId
	       	</if>
		</where>
	</sql>
	
    <select id="count" resultType="Integer" parameterType="com.lvmama.tnt.prod.po.RoutePackageHotel">
        SELECT count(*) FROM ROUTE_PACKAGE_HOTEL 
		<include refid="where"/>    
    </select>
    
    <select id="findPage" resultMap="baseResultMap" parameterType="page">
    	<include refid="basic.pageSearchHead" />
    	SELECT <include refid="columns" />
	    FROM ROUTE_PACKAGE_HOTEL 
		<include refid="pageWhere"/>
		<include refid="basic.pageSearchFoot" />
    </select>
    
    <resultMap id="baseResultMapGroup" type="com.lvmama.tnt.prod.vo.TntFreeLinePackHotelVo">
       
        <result property="productId" column="PRODUCT_ID"/>
        <result property="productValid" column="PRODUCT_VALID"/>
        <result property="tntSellPackageId" column="TNT_SELL_PACKAGE_ID"/>
        <result property="groupNum" column="GROUP_NUM"/>
        <collection property="routePackageHotels" ofType="com.lvmama.tnt.prod.po.RoutePackageHotel">
	         <result property="routePackageHotelId" column="ROUTE_PACKAGE_HOTEL_ID"/>
	         <result property="subProductId" column="SUB_PRODUCT_ID"/>
	         <result property="subProductValid" column="SUB_PRODUCT_VALID"/>
	         <result property="subBranchId" column="SUB_BRANCH_ID"/>
	         <result property="subBranchValid" column="SUB_BRANCH_VALID"/>
	         <result property="startDays" column="START_DAYS"/>
	         <result property="groupId" column="GROUP_ID"/>
	         <result property="cancelFlag" column="CANCEL_FLAG"/>
	         <result property="saleType" column="SALE_TYPE"/>
	         <result property="price" column="PRICE"/>
	         <result property="priceType" column="PRICE_TYPE"/>
	         <result property="groupNum" column="GROUP_NUM"/>
	         <result property="productId" column="PRODUCT_ID"/>
	         <result property="maxVisitor" column="MAXVISITOR"/>
        </collection>
        
        
	</resultMap>
    
    <select id="queryByProductAndGroupList"  resultMap="baseResultMapGroup" parameterType="map">
    	SELECT * FROM  ROUTE_PACKAGE_HOTEL A 
    	WHERE A.PRODUCT_ID =  #{productId} 
    	AND A.DELETE_FLAG = 0
    	AND A.SALE_TYPE = #{saleType}
    	AND A.SUB_BRANCH_ID IN
	    		<foreach item="item" index="index" collection="hotelList" open="(" separator="," close=")">  
			       #{item.subBranchId}  
	      		</foreach>
    </select>
    
    <!-- 批量插入 -->
    
    <insert id="insertbatch"  parameterType="com.lvmama.tnt.prod.vo.TntFreeLinePackHotelVo">  
       <!-- <selectKey resultType="java.lang.Long" keyProperty="routePackageHotelId"
			order="BEFORE">
			select  ROUTE_PACKAGE_HOTEL_ID_SEQ.nextval from dual
		</selectKey>   -->
       INSERT INTO ROUTE_PACKAGE_HOTEL (
        	ROUTE_PACKAGE_HOTEL_ID ,
        	PRODUCT_ID ,
        	PRODUCT_VALID,
        	SUB_PRODUCT_ID ,
        	SUB_PRODUCT_VALID ,
        	SUB_BRANCH_ID ,
        	SUB_BRANCH_VALID ,
        	START_DAYS ,
        	GROUP_ID ,
        	CANCEL_FLAG ,
        	SALE_TYPE ,
        	PRICE,
	        PRICE_TYPE,
	        MAXVISITOR,
        	TNT_SELL_PACKAGE_ID,
        	GROUP_NUM,
        	DELETE_FLAG,
        	ADULT,
        	CHILD
        )  
            SELECT 
	        	ROUTE_PACKAGE_HOTEL_ID_SEQ.nextval AS ROUTE_PACKAGE_HOTEL_ID,
	        	PRODUCT_ID ,
	        	PRODUCT_VALID,
	        	SUB_PRODUCT_ID ,
	        	SUB_PRODUCT_VALID ,
	        	SUB_BRANCH_ID ,
	        	SUB_BRANCH_VALID ,
	        	START_DAYS ,
	        	GROUP_ID ,
	        	CANCEL_FLAG ,
	        	SALE_TYPE ,
	        	PRICE,
	        	PRICE_TYPE,
	        	MAXVISITOR,
	           #{tntSellPackageId,jdbcType=NUMERIC} AS TNT_SELL_PACKAGE_ID,
	        	#{groupNum,jdbcType=NUMERIC}  AS GROUP_NUM ,
	        	0 AS DELETE_FLAG ,
	        	ADULT,
        	    CHILD      FROM(
        <foreach collection="routePackageHotels" item="item" index="index" separator=" union all " >  
            SELECT 
	        	
	      	    #{item.productId,jdbcType=NUMERIC}  AS PRODUCT_ID,
	      	    #{item.productValid,jdbcType=VARCHAR}  AS PRODUCT_VALID,
	        	#{item.subProductId,jdbcType=NUMERIC} AS SUB_PRODUCT_ID,
	        	#{item.subProductValid,jdbcType=VARCHAR} AS SUB_PRODUCT_VALID,
	        	#{item.subBranchId,jdbcType=NUMERIC} AS SUB_BRANCH_ID,
	        	#{item.subBranchValid,jdbcType=VARCHAR} AS SUB_BRANCH_VALID,
	        	#{item.startDays,jdbcType=VARCHAR} AS START_DAYS,
	        	#{item.groupId,jdbcType=NUMERIC} AS GROUP_ID,
	        	#{item.cancelFlag,jdbcType=NUMERIC} AS CANCEL_FLAG,
	        	#{item.saleType,jdbcType=VARCHAR} AS SALE_TYPE,
	        	#{item.price,jdbcType=NUMERIC} AS PRICE,
	        	#{item.priceType,jdbcType=VARCHAR} AS PRICE_TYPE ,
	        	#{index,jdbcType=NUMERIC} AS TNT_SELL_PACKAGE_ID,
	        	#{item.maxVisitor,jdbcType=NUMERIC} AS MAXVISITOR,
	        	#{item.adult,jdbcType=NUMERIC} AS ADULT,
	        	#{item.child,jdbcType=NUMERIC} AS CHILD
	            
 			FROM DUAL
        </foreach>  
        ) 
       
    </insert>  
    
    <!-- 批量更新记录为无效 -->
    <update id="updateBatch" parameterType="list">
        UPDATE ROUTE_PACKAGE_HOTEL SET
	        DELETE_FLAG = 1,
	        UPDATE_TIME = sysdate
        WHERE DELETE_FLAG = 0
        	AND ROUTE_PACKAGE_HOTEL_ID IN
        	<foreach collection="hotelList" item="item" index="index"
            open="(" close=")" separator=",">  
           			 #{item.routePackageHotelId}
            </foreach>
	</update>
	
	<update id="updatePriceBatch" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
               UPDATE ROUTE_PACKAGE_HOTEL 
                <set>
                    PRICE = #{item.price},
			        PRICE_TYPE = #{item.priceType},
			        UPDATE_TIME = sysdate
                </set>
                where 
                 PRODUCT_ID = #{item.productId} 
                 AND DELETE_FLAG = 0
		         AND SUB_PRODUCT_ID = #{item.subProductId}
		         AND SUB_BRANCH_ID = #{item.subBranchId}
		         AND GROUP_ID = #{item.groupId}
		         AND SALE_TYPE = #{item.saleType}
		         
       </foreach>
	</update>
	
	<update id="updateByProductId" parameterType="long">
        UPDATE ROUTE_PACKAGE_HOTEL SET
	        DELETE_FLAG = 1,
	        UPDATE_TIME = sysdate
        WHERE 
        	 PRODUCT_ID = #{productId} 
        	 AND DELETE_FLAG = 0
	</update>
	
	<select id="queryByParam"  resultMap="baseResultMapGroup" parameterType="map">
    	SELECT * FROM  ROUTE_PACKAGE_HOTEL A 
    	WHERE A.PRODUCT_ID =  #{productId} 
    	AND A.DELETE_FLAG = 0
    	AND A.SALE_TYPE = #{saleType}
    </select>
    
    
    <select id="findListByParam"  resultMap="baseResultMapGroup" parameterType="map">
	    	SELECT * FROM  ROUTE_PACKAGE_HOTEL A 
	    	<where>
	    	<if test="productId != null and productId !=''">
						AND A.PRODUCT_ID =  #{productId} 
	       	</if>
	       	
	       	<if test="deleteFlag != null and deleteFlag !=''">
						AND A.DELETE_FLAG =  #{deleteFlag} 
	       	</if>
	    	<if test="productValid != null and productValid !=''">
						AND A.PRODUCT_VALID = #{productValid}
	       	</if>
	       	<if test="noProductValid != null and noProductValid !=''">
						AND A.PRODUCT_VALID  <![CDATA[ <> ]]> #{noProductValid}
	       	</if>
	       	<if test="noSubProductValid != null and noSubProductValid !=''">
						AND A.SUB_PRODUCT_VALID  <![CDATA[ <> ]]> #{noSubProductValid}
	       	</if>
	       	<if test="subProductValid != null and subProductValid !=''">
						AND A.SUB_PRODUCT_VALID  = #{subProductValid}
	       	</if>
       		<if test="subProdcutId != null and subProdcutId !=''">
						AND A.SUB_PRODUCT_ID  = #{subProdcutId}
	       	</if>
	       	
	       	<if test="subBranchId != null and subBranchId !=''">
						AND A.SUB_BRANCH_ID  = #{subBranchId}
	       	</if>
	       	
       		<if test="maxvisitor != null and maxvisitor !=''">
						AND A.MAXVISITOR  = #{maxvisitor}
	       	</if>
	       	<if test="noMaxvisitor != null and noMaxvisitor !=''">
						AND A.MAXVISITOR  <![CDATA[ <> ]]>  #{noMaxvisitor}
	       	</if>
    	  </where>
    </select>
    
    
    <select id="findProductIdList"  resultType="long" parameterType="map">
	    	SELECT DISTINCT A.PRODUCT_ID FROM  ROUTE_PACKAGE_HOTEL A 
	    	<where>
	    	<if test="productId != null and productId !=''">
						AND A.PRODUCT_ID =  #{productId} 
	       	</if>
	       	
	       	<if test="deleteFlag != null and deleteFlag !=''">
						AND A.DELETE_FLAG =  #{deleteFlag} 
	       	</if>
	    	<if test="productValid != null and productValid !=''">
						AND A.PRODUCT_VALID = #{productValid}
	       	</if>
	       	<if test="noProductValid != null and noProductValid !=''">
						AND A.PRODUCT_VALID  <![CDATA[ <> ]]> #{noProductValid}
	       	</if>
	       	<if test="noSubProductValid != null and noSubProductValid !=''">
						AND A.SUB_PRODUCT_VALID  <![CDATA[ <> ]]> #{noSubProductValid}
	       	</if>
	       	<if test="subProductValid != null and subProductValid !=''">
						AND A.SUB_PRODUCT_VALID  = #{subProductValid}
	       	</if>
       		<if test="subProductId != null and subProductId !=''">
						AND A.SUB_PRODUCT_ID  = #{subProductId}
	       	</if>
	       	
	       	<if test="subBranchId != null and subBranchId !=''">
						AND A.SUB_BRANCH_ID  = #{subBranchId}
	       	</if>
	       	
       		<if test="maxvisitor != null and maxvisitor !=''">
						AND A.MAXVISITOR  = #{maxvisitor}
	       	</if>
	       	<if test="noMaxvisitor != null and noMaxvisitor !=''">
						AND A.MAXVISITOR  <![CDATA[ <> ]]>  #{noMaxvisitor}
	       	</if>
    	  </where>
    </select>
    
   <select id="findRelatedPackageByHotelGoodsList" resultMap="baseResultMap" parameterType="java.util.Map">
    	select distinct <include refid="columns" />
    	  from ROUTE_PACKAGE_HOTEL t 
		 where t.delete_flag = 0
   		    <if test="productId != null and productId !=''">
				AND PRODUCT_ID = #{productId}
	       	</if>
	       	<if test="groupId != null and groupId !=''">
				AND GROUP_ID = #{groupId}
	       	</if>
 		   and t.sub_branch_id in 
 		       (select prod.product_branch_id from TNT_HOTEL_PRODUCT prod 
 		         where prod.goods_id in
					<foreach item="item" index="index" collection="suppGoodsIdList" open="(" separator="," close=")">  
		    		   #{item}  
	       			 </foreach>   ) 
    </select> 
    
     <select id="findHotelListByParam"  resultMap="baseResultMap" parameterType="map">
    	SELECT * FROM  ROUTE_PACKAGE_HOTEL 
    	<include refid="where"/>    
    </select>
    
    <select id="findVoListByParam"  resultMap="baseResultMapGroup" parameterType="map">
	    	SELECT * FROM  ROUTE_PACKAGE_HOTEL 
	    	<where>
	    		<if test="deleteFlag != null and deleteFlag !=''">
					AND DELETE_FLAG = #{deleteFlag}
		       	</if>
		       	<if test="subProductId != null and subProductId !=''">
					AND SUB_PRODUCT_ID = #{subProductId}
		       	</if> 
				<if test="subBranchId != null and subBranchId !=''">
					AND SUB_BRANCH_ID = #{subBranchId}
		       	</if> 
	    	</where>
	</select>    	
	
	 <update id="updateByList"  parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
               UPDATE ROUTE_PACKAGE_HOTEL 
                <set>
                    UPDATE_TIME = sysdate,
		   			 DELETE_FLAG = 1
                </set>
                where 
                 DELETE_FLAG = 0 
                 AND PRODUCT_ID = #{item.productId} 
                 AND TNT_SELL_PACKAGE_ID=#{item.tntSellPackageId}
         </foreach>
    </update>

</mapper>

