<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.lvmama.tnt.prod.mapper.TntSellBranchRelationMapper">

	<resultMap id="baseResultMap" type="com.lvmama.tnt.prod.po.TntSellBranchRelation">
		<result property="tntSellBranchRelationId" column="TNT_SELL_BRANCH_RELATION_ID" />
		<result property="tntSellBrancheId" column="TNT_SELL_BRANCH_ID" />
		<result property="branchId" column="BRANCH_ID" />
		<result property="productId" column="PRODUCT_ID" />
		<result property="productId" column="SUB_PRODUCT_ID" />
		<result property="subProductType" column="SUB_PRODUCT_TYPE" />
		<result property="cnt" column="CNT" />
		<result property="valid" column="VALID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="startDays" column="START_DAYS" />
		<result property="endDays" column="END_DAYS" />
		<result property="priceType" column="PRICE_TYPE" />
		<result property="price" column="PRICE" />
		<result property="groupId" column="GROUP_ID" />
		<result property="ticketType" column="TICKET_TYPE" />
	</resultMap>
	
	<insert id="insert" parameterType="com.lvmama.tnt.prod.po.TntSellBranchRelation">
		<selectKey resultType="java.lang.Long" keyProperty="tntSellBranchRelationId" order="BEFORE">
			select
			TNT_SELL_BRANCH_RELATION_SEQ.nextval
			from dual
		</selectKey>
		INSERT INTO TNT_SELL_BRANCH_RELATION (
			TNT_SELL_BRANCH_RELATION_ID,
			TNT_SELL_BRANCH_ID,
			BRANCH_ID,
			PRODUCT_ID,
			SUB_PRODUCT_TYPE,
			SUB_PRODUCT_ID,
			VALID,
			CREATE_TIME,
			UPDATE_TIME,
			CNT,
			START_DAYS,
			END_DAYS,
			PRICE_TYPE,
			PRICE,
			GROUP_ID,
			TICKET_TYPE
		) 
		VALUES
		(
			#{tntSellBranchRelationId,jdbcType=DECIMAL},
			#{tntSellBranchId,jdbcType=DECIMAL},
			#{branchId,jdbcType=DECIMAL},
			#{productId,jdbcType=DECIMAL},
			#{subProductType,jdbcType=VARCHAR},
			#{subProductId,jdbcType=DECIMAL},
			#{valid,jdbcType=VARCHAR},
			sysdate,
			#{updateTime,jdbcType=TIMESTAMP},
			#{cnt,jdbcType=DECIMAL},
			#{startDays,jdbcType=VARCHAR},
			#{endDays,jdbcType=VARCHAR},
			#{priceType,jdbcType=DECIMAL},
			#{price,jdbcType=VARCHAR},
			#{groupId,jdbcType=DECIMAL},
			#{ticketType,jdbcType=VARCHAR}
		)
	</insert>
	<sql id="columns">
		*
	</sql>

	<select id="queryByParams" resultMap="baseResultMap" parameterType="java.util.Map">
		select 
		<include refid="columns" />
		from TNT_SELL_BRANCH_RELATION sbr
		<where>
			<if test="tntSellBranchRelationId != null and tntSellBranchRelationId !=''">
				AND sbr.TNT_SELL_BRANCH_RELATION_ID = #{tntSellBranchRelationId}
			</if>
			<if test="tntSellBrancheId != null and tntSellBrancheId !=''">
				AND sbr.TNT_SELL_BRANCH_ID = #{tntSellBrancheId}
			</if>
			<if test="productId != null and productId !=''">
				AND sbr.PRODUCT_ID = #{productId}
			</if>
			<if test="branchId !=null and branchId !=''">
			   AND sbr.BRANCH_ID=#{branchId,jdbcType=DECIMAL}
			</if>
			<if test="groupId != null and groupId !=''">
				AND	sbr.GROUP_ID = #{groupId,jdbcType=DECIMAL}
			</if>
		</where>
	</select>

	<delete id="delete" parameterType="java.util.Map">
		delete from TNT_SELL_BRANCH_RELATION 
		<where>
			<if test="tntSellBranchRelationId != null and tntSellBranchRelationId !=''">
				AND TNT_SELL_BRANCH_RELATION_ID = #{tntSellBranchRelationId,jdbcType=DECIMAL}
			</if>
			<if test="tntSellBrancheId != null and tntSellBrancheId !=''">
				AND TNT_SELL_BRANCH_ID = #{tntSellBrancheId,jdbcType=DECIMAL}
			</if>
			<if test="productId != null and productId !=''">
				AND PRODUCT_ID = #{productId,jdbcType=DECIMAL}
			</if>
			<if test="groupId != null and groupId != ''">
				AND GROUP_ID = #{groupId,jdbcType=DECIMAL}
			</if>
			<if test="branchId != null and branchId != ''">
				AND BRANCH_ID = #{branchId,jdbcType=DECIMAL}
			</if>
			<if test="subProductId != null and subProductId !=''">
				AND SUB_PRODUCT_ID = #{subProductId,jdbcType=DECIMAL}
			</if>
		</where>
	</delete>
	
	<update id="update" parameterType="com.lvmama.tnt.prod.po.TntSellBranchRelation">
		UPDATE TNT_SELL_BRANCH_RELATION sbr
		<set>	
				UPDATE_TIME = sysdate,	
			<if test="branchId != null and branchId !=''">
				BRANCH_ID = #{branchId,jdbcType=DECIMAL},
			</if>
			<if test="productId != null and productId !=''">
				SUB_PRODUCT_ID = #{productId,jdbcType=DECIMAL},
			</if>
			<if test="subProductId != null and subProductId !=''">
				SUB_PRODUCT_ID = #{subProductId,jdbcType=DECIMAL},
			</if>
			<if test="groupId != null and groupId !=''">
				GROUP_ID = #{groupId,jdbcType=DECIMAL},
			</if>
			<if test="valid != null and valid !=''">
				VALID = #{valid,jdbcType=VARCHAR},
			</if>
			<if test="cnt != null and cnt !=''">
				CNT = #{cnt,jdbcType=DECIMAL},
			</if>
			<if test="startDays != null and startDays !=''">
				START_DAYS = #{startDays,jdbcType=VARCHAR},
			</if>
			<if test="endDays != null and endDays !=''">
				END_DAYS = #{endDays,jdbcType=VARCHAR},
			</if>
			<if test="priceType != null and priceType !=''">
				PRICE_TYPE = #{priceType,jdbcType=VARCHAR},
			</if>
			<if test="price != null and price !=''">
				PRICE = #{price,jdbcType=DECIMAL},
			</if>
			<if test="tntSellBrancheId != null and tntSellBrancheId !=''">
			 	TNT_SELL_BRANCH_ID = #{tntSellBrancheId,jdbcType=DECIMAL},
			</if>
			<if test="ticketType != null and ticketType !=''">
				TICKET_TYPE = #{ticketType,jdbcType=VARCHAR},
			</if>
			<if test="tntSellBrancheId != null and tntSellBrancheId !=''">
				TNT_SELL_BRANCH_ID = #{tntSellBrancheId,jdbcType=DECIMAL}
			</if>
		</set>
		<where>
			<if test="tntSellBranchRelationId != null and tntSellBranchRelationId !=''">
				AND sbr.TNT_SELL_BRANCH_RELATION_ID = #{tntSellBranchRelationId}
			</if>
			<if test="tntSellBrancheId != null and tntSellBrancheId !=''">
				AND sbr.TNT_SELL_BRANCH_ID = #{tntSellBrancheId}
			</if>
			<if test="productId != null and productId !=''">
				AND sbr.PRODUCT_ID = #{productId}
			</if>
		</where>
	</update>
	
</mapper>