<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lvmama.tnt.api.ctrip.holiday.mysql.mapper.TntRepartOrderMapper">
	<resultMap id="tntRepartOrderMap" type="com.lvmama.tnt.api.po.ctrip.holiday.TntRepartOrderInfo">
		<result property="id" column="ID" />
		<result property="orderId" column="ORDER_ID" />
		<result property="distributorOrderId" column="DISTRIBUTOR_ORDER_ID" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="orderTotal" column="ORDER_TOTAL" />	
		<result property="packageId" column="PACKAGE_ID" />
		<result property="productId" column="PRODUCT_ID" />
		<result property="contactName" column="CONTACT_NAME" />
		<result property="mobileNum" column="MOBILE_NUM" />
		<result property="handleStatus" column="HANDLE_STATUS" />	
	</resultMap>
	
	<sql id="where">
		<where>
			<if test="orderId !=null and orderId !=''">
				troi.ORDER_ID=#{orderId}
			</if>
			<if test="distributorOrderId !=null and distributorOrderId !=''">
				troi.DISTRIBUTOR_ORDER_ID=#{distributorOrderId}
			</if>
			<if test="orderStatus !=null and orderStatus !=''">
				troi.ORDER_STATUS=#{orderStatus}
			</if>
			<if test="orderTotal !=null and orderTotal !=''">
				troi.ORDER_TOTAL=#{orderTotal}
			</if>
			<if test="packageId !=null and packageId !=''">
				troi.PACKAGE_ID=#{packageId}
			</if>
			<if test="productId !=null and productId !=''">
				troi.PRODUCT_ID=#{productId}
			</if>
			<if test="contactName !=null and contactName !=''">
				troi.CONTACT_NAME=#{contactName}
			</if>
			<if test="mobileNum !=null and mobileNum !=''">
				troi.MOBILE_NUM=#{mobileNum}
			</if>
			<if test="handleStatus !=null and handleStatus !=''">
				troi.HANDLE_STATUS=#{handleStatus}
			</if>
		
		</where>	
	</sql>
	
	<insert id="insert"  parameterType="com.lvmama.tnt.api.po.ctrip.holiday.TntRepartOrderInfo" >
		insert into TNT_REPART_ORDER_INFO(ORDER_ID,DISTRIBUTOR_ORDER_ID,ORDER_STATUS,ORDER_TOTAL,PACKAGE_ID,PRODUCT_ID,CONTACT_NAME,MOBILE_NUM,HANDLE_STATUS,CREATE_TIME)
		values (#{orderId},#{distributorOrderId},#{orderStatus},#{orderTotal},#{packageId},#{productId},#{contactName},#{mobileNum},#{handleStatus},now()) 
	</insert>
	
	<update id="update"  parameterType="com.lvmama.tnt.api.po.ctrip.holiday.TntRepartOrderInfo" >
		update TNT_REPART_ORDER_INFO  troi set
		<if test="handleStatus !=null and handleStatus !=''">
	        troi.HANDLE_STATUS = #{handleStatus}
	    </if>
	    where troi.ID=#{id}
	</update>
	
	
	<select id="selectList" parameterType="com.lvmama.tnt.api.po.ctrip.holiday.TntRepartOrderInfo" resultMap="tntRepartOrderMap">
		select  troi.*  from  TNT_REPART_ORDER_INFO  troi  where 
		<include refid="where"/>
	</select>
	
	<select id="queryByPage" parameterType="page"  resultMap="tntRepartOrderMap">
		
		select  troi.*  from  TNT_REPART_ORDER_INFO  troi
		<where>
			<if test="param.orderId != null and param.orderId !=''">
				troi.ORDER_ID=#{param.orderId}
			</if>
			<if test="param.distributorOrderId !=null and param.distributorOrderId !=''">
				AND troi.DISTRIBUTOR_ORDER_ID=#{param.distributorOrderId}
			</if>
			<if test="param.orderStatus !=null and param.orderStatus !=''">
				AND troi.ORDER_STATUS=#{param.orderStatus}
			</if>
			<if test="param.orderTotal !=null and param.orderTotal !=''">
				AND troi.ORDER_TOTAL=#{param.orderTotal}
			</if>
			<if test="param.packageId !=null and param.packageId !=''">
				AND troi.PACKAGE_ID=#{param.packageId}
			</if>
			<if test="param.productId !=null and param.productId !=''">
				AND troi.PRODUCT_ID=#{param.productId}
			</if>
			<if test="param.contactName !=null and param.contactName !=''">
				AND troi.CONTACT_NAME=#{param.contactName}
			</if>
			<if test="param.mobileNum !=null and param.mobileNum !=''">
				AND troi.MOBILE_NUM=#{param.mobileNum}
			</if>
			<if test="param.handleStatus !=null and param.handleStatus !=''">
				AND troi.HANDLE_STATUS=#{param.handleStatus}
			</if>
			<if test="param.startTime != null">
				AND troi.CREATE_TIME <![CDATA[ > ]]> #{param.startTime}
			</if>
			<if test="param.endTime != null">
				AND troi.CREATE_TIME  <![CDATA[ < ]]> #{param.endTime}
			</if>
		</where>
		ORDER BY troi.CREATE_TIME DESC
		limit #{startRowsForMySql}, #{pageSize}
	</select>

	<select id="count" resultType="java.lang.Integer" parameterType="com.lvmama.tnt.api.vo.ctrip.holiday.TntRepartOrderVo">
		SELECT
		    count(troi.ID)
		FROM
		    TNT_REPART_ORDER_INFO  troi
		<where>
			<if test="orderId != null and orderId !=''">
				troi.ORDER_ID = #{orderId}
			</if>
			<if test="distributorOrderId !=null and distributorOrderId !=''">
				AND troi.DISTRIBUTOR_ORDER_ID = #{distributorOrderId}
			</if>
			<if test="orderStatus !=null and orderStatus !=''">
				AND troi.ORDER_STATUS = #{orderStatus}
			</if>
			<if test="orderTotal !=null and orderTotal !=''">
				AND troi.ORDER_TOTAL = #{orderTotal}
			</if>
			<if test="packageId !=null and packageId !=''">
				AND troi.PACKAGE_ID = #{packageId}
			</if>
			<if test="productId !=null and productId !=''">
				AND troi.PRODUCT_ID = #{productId}
			</if>
			<if test="contactName !=null and contactName !=''">
				AND troi.CONTACT_NAME = #{contactName}
			</if>
			<if test="mobileNum !=null and mobileNum !=''">
				AND troi.MOBILE_NUM = #{mobileNum}
			</if>
			<if test="handleStatus !=null and handleStatus !=''">
				AND troi.HANDLE_STATUS = #{handleStatus}
			</if>
			<if test="startTime != null">
				AND troi.CREATE_TIME <![CDATA[ > ]]> #{startTime}
			</if>
			<if test="endTime != null">
				AND troi.CREATE_TIME  <![CDATA[ < ]]> #{endTime}
			</if>
		</where>
	</select>

</mapper>