<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.lvmama.tnt.order.mapper.TntRequestInfoMapper">
	<resultMap id="baseResultMap" type="com.lvmama.tnt.order.po.TntRequestInfo">
		<result property="tntRequestInfoId" column="TNT_REQUEST_INFO_ID" />
		<result property="objectId" column="OBJECT_ID" />
		<result property="userId" column="USER_ID" />
		<result property="objectType" column="OBJECT_TYPE" />
		<result property="requestType" column="REQUEST_TYPE" />
		<result property="requestInfo" column="REQUEST_INFO" />
		<result property="createTime" column="CREATE_TIME" />
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		TNT_REQUEST_INFO_ID,USER_ID,OBJECT_ID,OBJECT_TYPE,REQUEST_TYPE,REQUEST_INFO,CREATE_TIME
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="com.lvmama.tnt.order.po.TntRequestInfo">
		<selectKey resultType="java.lang.Long" keyProperty="tntRequestInfoId"
			order="BEFORE">
			select TNT_REQUEST_INFO_ID_SEQ.nextval from dual
		</selectKey>
		INSERT INTO TNT_REQUEST_INFO (
		TNT_REQUEST_INFO_ID ,
		USER_ID,
		OBJECT_ID ,
		OBJECT_TYPE ,
		REQUEST_TYPE ,
		REQUEST_INFO ,
		CREATE_TIME 
		) VALUES (
		#{tntRequestInfoId,jdbcType=DECIMAL} ,
		#{userId,jdbcType=DECIMAL} ,
		#{objectId,jdbcType=DECIMAL} ,
		#{objectType,jdbcType=VARCHAR} ,
		#{requestType,jdbcType=VARCHAR} ,
		#{requestInfo,jdbcType=VARCHAR} ,
		sysdate
		)
	</insert>

	<update id="update" parameterType="com.lvmama.tnt.order.po.TntRequestInfo">
		UPDATE TNT_REQUEST_INFO SET
		OBJECT_ID = #{objectId,jdbcType=DECIMAL} ,
		USER_ID = #{userId,jdbcType=DECIMAL} ,
		OBJECT_TYPE = #{objectType,jdbcType=VARCHAR} ,
		REQUEST_TYPE = #{requestType,jdbcType=VARCHAR} ,
		REQUEST_INFO = #{requestInfo,jdbcType=VARCHAR} 
		WHERE TNT_REQUEST_INFO_ID = #{tntRequestInfoId}
	</update>
	<delete id="delete" parameterType="Long">
		DELETE FROM TNT_REQUEST_INFO WHERE TNT_REQUEST_INFO_ID = #{id}
	</delete>

	<select id="query" resultMap="baseResultMap" parameterType="com.lvmama.tnt.order.po.TntRequestInfo">
		SELECT
		<include refid="columns" />
		FROM TNT_REQUEST_INFO
		<where>
		<include refid="where" />
		</where>
	</select>

	<select id="getById" resultMap="baseResultMap" parameterType="Long">
		SELECT
		<include refid="columns" />
		FROM TNT_REQUEST_INFO WHERE TNT_REQUEST_INFO_ID = #{id}
	</select>
	<sql id="where">
			<if test="objectId != null and objectId !=''">
				AND OBJECT_ID = #{objectId}
			</if>
			<if test="userId != null and userId !=''">
				AND USER_ID = #{userId}
			</if>
			<if test="objectType != null and objectType !=''">
				AND OBJECT_TYPE = #{objectType}
			</if>
			<if test="requestType != null and requestType !=''">
				AND REQUEST_TYPE = #{requestType}
			</if>
			<if test="createTimeBegin != null and createTimeEnd !=null">
				<![CDATA[ AND CREATE_TIME > #{createTimeBegin} and CREATE_TIME< #{createTimeEnd} ]]>
			</if>
	</sql>
	<sql id="pageWhere">
			<if test="param.objectId != null and param.objectId !=''">
				AND o.OBJECT_ID = #{param.objectId}
			</if>
			<if test="param.userId != null and param.userId!=''">
				AND o.USER_ID = #{param.userId}
			</if>
			<if test="param.objectType != null and param.objectType !=''">
				AND o.OBJECT_TYPE = #{param.objectType}
			</if>
			<if test="param.requestType != null and param.requestType !=''">
				AND o.REQUEST_TYPE = #{param.requestType}
			</if>
			<if test="param.createTimeBegin != null and param.createTimeEnd !=''">
				<![CDATA[ AND CREATE_TIME > #{param.createTimeBegin} and CREATE_TIME< #{param.createTimeEnd} ]]>
			</if>
			
	</sql>
	<select id="queryCount" resultType="Integer"
		parameterType="com.lvmama.tnt.order.po.TntRequestInfo">
		SELECT count(*) FROM TNT_REQUEST_INFO o where 1=1
		<include refid="where" />
	</select>

	<select id="queryAll" resultMap="baseResultMap" parameterType="page">
		<include refid="basic.pageSearchHead" />
		SELECT * FROM TNT_REQUEST_INFO  o where 1=1
		<include refid="pageWhere" />
		<include refid="basic.pageSearchFoot" />
	</select>
</mapper>

